.App {
  display: flex;
  flex-direction: row;
}

.menu {
  background-color: rgb(248, 247, 247);
  border-right: rgb(138, 138, 138) solid 1px;
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

button {
  width: 50px;
  height: 20px;
}

#save {
  margin-top: 50px;
}

canvas {
  width: 90vw;
  height: 100vh;
}

.home-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.home-menu > button {
  width: 10vw;
  height: 5vh;
}

.list-item {
  padding: 5px;
  border: 1px solid gainsboro;
}
